version: "3.9"

services:
  ollama:
    image: ollama/ollama:latest
    restart: always
    volumes:
      - ollama-data:/root/.ollama
    command: serve gemma:2b # --port 11434

  oscillation-layer:
    build:
      context: ./oscillation-layer
    restart: always
    ports:
      - "3000:3000"

    environment:
      PORT: 3000
      OLLAMA_BASE_URL: http://ollama:11434

    depends_on:
      - ollama

volumes:
  ollama-data:
